@model IEnumerable<CMS.Models.customer>

@{
    ViewData["Title"] = "GetCustomer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    <a asp-action="AddCustomer">Add Customer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pincode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pincode)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditCustomer", new { id= item.CustomerID}) |
                @Html.ActionLink("Details", "Detail", new { id= item.CustomerID }) |
                @Html.ActionLink("Delete", "DeleteCustomer", new { id= item.CustomerID})
            </td>
        </tr>
}
    </tbody>
</table>
